<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Products</title>
<link href="webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">List of products</div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>Products</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>

                <tr th:each="p:${listproducts}">
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.price}"></td>
                    <td th:text="${p.quantity}"></td>
                </tr>

            </table>
        </div>
    </div>

</div>
</body>
</html>